In [1]:
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Importing the dataset
dataset = pd.read_csv('Social_Network_Ads.csv')
# dataset.head()

In [3]:
X = dataset.iloc[:, [2, 3]]
X.head()
# this needs feature scaling

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [4]:
y = dataset.iloc[:, 4]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [6]:
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)